@model ProyectoFinal.Models.Usuarios

<h1>Eliminar Usuario</h1>

<div>
    <h4>¿Estás seguro de que quieres eliminar este Usuario?</h4>
    <h4>Nombre: @Model.Clave</h4>
    <h4>Tipo: @Model.Usuario</h4>
    <h4>IVA: @Model.Rol</h4>
</div>

<form asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Usuario")'">Regresar</button>
</form>